<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    
    
    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="css/style.css">
    <script>
    var x=document.forms[0].elements['id_remarks'].value;
    if(!x){} else {}
    </script>
  </head>

  <body>
<p>Finnew Admin Page</p>
<form action="admin" method="get" id="form1">
  Dish:<br>
  <input type="text" name="dish">
  <br>
  Category:<br>
  <input type="text" name="category">
  <br>
  Description:<br>
  <input type="text" name="description"><br>
  Price:<br>
  <input type="text" name="price">
</form>

<button type="submit" form="form1" value="Submit" onclick="verify()">Submit</button>
  </body>
</html>
