<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>finnew</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">

    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans'>

    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" type="image/png" href="https://www.zomato.com/images/logo/zomato_favicon3.png" />
  </head>

  <body>
    <a href="menu" class="button">Menu</a>
  </body>
</html>
