<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    
    
    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="css/style.css">    
  </head>

  <body>
  hotspice
    <div class="container">
      <ul>
    <table border="2">
    <tr>
    <th>Dish</th>
    <th>Category</th>
    <th>Description</th>
    <th>Price</th>
    </tr>
    {% for n in menu %}  
    <tr>
    <td>{{n['dish']}}</td>
    <td>{{n['category']}}</td>
    <td>{{n['price']}}</td>
    <td>{{n['description']}}</td>
    </tr>
    {% endfor %}
    </table>
        
      </ul>
    </div>
  </body>
</html>
