<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    
    
    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="css/style.css">    
  </head>

  <body>
  This is menu page
  <table border="1">
    <tr>
    <th>Dish</th>
    <th>Category</th>
    <th>Description</th>
    <th>Price</th>
    </tr>
    <tr>
    <td>Ramesh Raman</td>
    <td>5000</td>
    </tr>
    <tr>
    <td>Shabbir Hussein</td>
    <td>7000</td>
    </tr>
    </table>
  </body>
</html>
